.header_logo {
    margin: 2rem 0;
    font-family: 'Dancing Script', cursive;
}

.header_button {
    margin-bottom: 2rem;
}

.footer_logo {
    margin: 1.5rem 0;
    font-family: 'Dancing Script', cursive;
}

.footer_button {
    margin-top: 1.5rem;
}

.max_width-500 {
    max-width: 500px;
    padding: 1rem 1.5rem;
}

.profile_image {
    heigth: 12rem;
    width: 12rem;
    border-radius: 20rem;
    object-fit: cover;
}

.NNS_B {
    font-family: "NanumSquareB", cursive
}